@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";
@theme {
    --font-Onset: "Onest", sans-serif;
}

/* utitily clases */
.scrollbar-none {
    scrollbar-width: none;
}
.smooth-scroll {
    scroll-behavior: smooth;
}
